<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    </head>
    <body>

        <!--header fragment-->
        <div th:fragment="header">
            <header>  
                <div class='logout-div'>
                    <a th:href="@{/logout}">
                        <img th:src="@{/img/logout2.png}" alt="alt"/>
                    </a>
                </div>
            </header>
        </div>

        <!--______________________________________________________________________-->

        <!--fragment footer-->
        <div th:fragment="footer">
            <footer>
                <p>&copy; 2024 My Website</p>
            </footer>
        </div>   


    </body>
</html>
