<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Džeko Comerc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/orderForm.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}"/>
    </head>
    <body>

         <div th:insert="~{fragments :: header}"></div>
        
         <div class="form-container">

            <h2>Kreirajte novu narudžbu</h2> 

            <form action="#" th:action="@{/order}" th:object="${order}" th:method="post" >

                <div class="form-group" id='inputcustomer-div'>
                    <label for="customer">Kupac</label>                        
                    <input type="text" th:field="*{customer}" placeholder="kupac" required>
                </div>  

                <div class="form-group">
                    <label for="tel">Kontakt</label>                        
                    <input type="text" th:field="*{telephone}" placeholder="Kontakt" required>
                </div> 

                <div class="form-group">
                    <label for="tel">Adresa</label>                        
                    <input type="text" th:field="*{address}" placeholder="Adresa" required>
                </div> 

                <div class="form-group">
                    <label for="order">Narudžbenica</label>
                    <textarea cols="120" rows="14" type="text" th:field="*{text}" placeholder="opis" required ></textarea>
                </div>

                <input type="hidden" th:field="*{idorder}">

                <div class="save-button-container" >
                    <button id="buttonsaveorder" type="submit">Spremi</button>
                    <a th:href="@{/order}">Odustani</a>                    
                </div>

            </form>                      

        </div>
    </body>
</html>
